<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>XiaSweet ADBSev</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
	<link rel="shortcut icon" href="../static/pic/icons.png">
	    <!-- Bootstrap 加载CSS -->
	<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/modals.css') }}" rel="stylesheet">
		<!-- toastr 核心 CSS -->
	<link href="{{ url_for('static', filename = 'css/toastr.min.css') }}" rel="stylesheet">
		<!-- 公用JS数据库，页面自建函数在下面 -->
	<script src="../static/js/jquery-3.5.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/toastr.js"></script>
	<script src="../static/js/doka_index.js"></script>
	<style>
	  .bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	  }

	  @media (min-width: 768px) {
		.bd-placeholder-img-lg {
		  font-size: 3.5rem;
		}
	  }
	</style>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/style.css') }}">
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark touming">
  <div class="container-fluid">
	<img src="../static/pic/logo.png" alt="XiaSweet ADB Server" width="5%" />
    <a class="navbar-brand" href="#">  </a>
	<a class="navbar-brand" href="#">XiaSweet ADB Server</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">控制台</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">群控模式（待开发）</a>
        </li>
      </ul>
      <div class="d-flex" title="查看当前链接的设备">
		<embed src="../static/pic/smartphone.svg" type="image/svg+xml" />
		<a>&nbsp; </a>
		<a style='color:#ffffff' id="con_devices_len">0</a>
      </div>
    </div>
  </div>
</nav>
<body>
<main class="container">
  <div class="bg-light p-5 rounded">
    <div class="alert alert-warning alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>安全提示:</strong>&nbsp;&nbsp;&nbsp;XiaSweet ADBServer 默认您的环境是安全可靠的,请不要面向外网开放5000服务端口(ρ_・).。
  </div>
    <h1>Today</h1>
	<!--<h5 class="lead" id="timenow">正在从服务器获取当前时间.......</h5>
	<h5 class="lead" id="connect_devices">等待系统检测链接设备。。。。。</h5> 
    <!--  <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">测试按钮 &raquo;</a>  -->
	<div class="table-responsive text-center">
		<table class="table table-hover table-responsive">
			<thead>
				<th><div class="form-check  text-start">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault">选择</label>
					</div></th>
					<th>设备id</th>
					<th>映射端口</th>
					<th>设备标识</th>
					<th>本地ip地址</th>
					<th>操作</th>
				</tr>
			</thead>
			{# 循环遍历运行设备信息并打印文档 #}
			<tbody>
			{% for d in device %}
			<tr>
				<td>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault"></label>
				</div></td>
				<td id="device_id{{loop.index}}">{{ d.device_id }}</td>
				<td id="port{{loop.index}}">{{ d.port }}</td>
				<td id="setname{{loop.index}}">{{ d.setname }}</td>
				<td id="localip{{loop.index}}">读取中，请等候</td>
				<script>
				get_localip("{{ d.device_id }}","{{'localip'~loop.index}}");
				</script>
				<td><div class="btn-group">
					<button onclick="adb_url({{ d.port }})" type="button" class="btn btn-sm btn-primary">远程链接</button>
					<button data-deviceis="{{ d.device_id }}" data-bs-toggle="modal" data-bs-target="#device_screen" type="button" class="btn btn-sm btn-primary">状态预览</button>
				</div></td>
			</tr>
			{% endfor %} 
			</tbody>
		</table>
	</div>
  </div>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  打开模态框
</button>

<!-- 屏幕列表显示 -->
<div class="modal fade" id="device_screen">
	<style>
	   .img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	  }
	</style>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">状态浏览</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- 模态框内容 -->
      <div class="modal-body" id="now_screen">
		<img src="" id="image" class="img" onerror="this.style.display='none'">
        <a id="screen_load">正在加载中，请稍候</a>
      </div>
      <!-- 模态框底部 -->
      <div class="modal-footer">
	  <button onclick="get_screen" type="button" class="btn btn-primary">刷新状态</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div> 
 
<!-- 模态框 -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">模态框标题</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
 
      <!-- 模态框内容 -->
      <div class="modal-body">
        模态框内容..

      </div>
      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>
 
    </div>
  </div>
</div>




<footer style="text-align: center; flex-grow: 1;display: flex;align-items: flex-end;justify-content: center">
    <!--   <p>&copy; 2022 - Today XiaSweet Lab, Inc.</p> -->
</footer>
<script type="text/javascript">
	$.get("https://v1.hitokoto.cn/?c=i",function(data,status){
		if (status == 'success'){
			toastr.info(data.hitokoto,'每日一言')
		}
	});
	toastr.warning('XiaSweet ADB Server默认您的网络环境安全可控,请勿部署至生产环境！','安全提示：');
	function adb_url(port){
    var url= window.location.host;
	url=url.replace(/5000/,port),
	copyToClip(url)
	toastr.success(url,"使用复制的网址链接ADB");
	}; 
	function copyToClip(content, message) {
		var aux = document.createElement("input"); 
		aux.setAttribute("value", content); 
		document.body.appendChild(aux); 
		aux.select();
		document.execCommand("copy"); 
		document.body.removeChild(aux);
		if (message == null) {
			console.info("复制到剪切板的内容:"+content);
		} else{
			console.warn(message);
		}
	};
	$('#device_screen').on('show.bs.modal',function (event) {
	  var button = $(event.relatedTarget); // 打开模态框的那个button
	  var deviceis = button.data('deviceis');
	  var modal = $(this);
	  toastr.info("在读"+deviceis+"的屏幕信息","加载中");
	  $('#screen_load').html('正在加载中，请稍候');
	  modal.find('.modal-body #image').attr("style", "display: none;");
	  screen=$.ajax({
		url: '/devices/'+deviceis+'/screen',
		cache: false,
		type: 'get',
		//采用get方法
		timeout: 10000,
		//超时时间设置为10秒
		success: function(t) { //成功之后的结果
			console.log(deviceis+'：屏幕信息获取成功')
			screen=t
		}});
	  $.when(screen).done(function () { //myajax请求完毕时执行
			$('#screen_load').html('');  //修改当前屏幕内容
			modal.find('.modal-body #image').attr("style", "display: block;");
			modal.find('.modal-body #image').attr("src", "data:image/png;base64,"+screen);//要执行的操作
        })
		});
	  //modal.find('.modal-title').text('New message to ' + deviceis)
	 // modal.find('.modal-body').img('')
</script>

</body>
</html>