/* 这是匹配横屏的状态，横屏时的css代码 */
@media all and (orientation :landscape) {
    body {
        background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255, 0.5)),url('../backguard/koli.jpg') no-repeat center fixed;
        background-size: cover;
		min-height: 75rem;
		padding-top: 4.5rem;
    }
    footer{  
        clear: both;  
        display: block;  
        text-align: center;   
        margin: 0px auto;  
        position: absolute;  
        bottom: 100px;  
        width: 100%;  
    }
}

/* 这是匹配竖屏的状态，竖屏时的css代码 */
@media all and (orientation :portrait) {
	body {
		background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255, 0.5)),url('../backguard/koli-portrait.jpg') no-repeat center fixed;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 75rem;
		padding-top: 4.5rem;
	}
     footer{  
        clear: both;  
        display: block;  
        text-align: center;   
        margin: 0px auto;  
        position: absolute;  
        bottom: 100px;  
        width: 100%;  
    }  
}
